<!-- /dashboard -->
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>My Wish List</title>
    <meta charset='UTF-8'>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <nav>
        <a  class="endbutton" href="/signout">Logout</a>
    </nav>  
    <h1>Hello, {{ request.session.username }}</h1>
    <section>
        <h2>Your Wish List</h2>
        <div class="tbl-header">
            <table col-width = "50%">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Added By</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table>
                <tbody>
                    {% for item in my_items %}   <!-- two for loops. first shows items I added -->
                    <tr>
                        <td><a href="/wish_items/{{ item.id }}">{{ item.item }}</a></td>
                        <td>{{ item.poster.username }}</td>
                        <td>{{ item.created_at }}</td>
                        <td><a href="/remove">Remove from the wishlist</a></td>
                    <tr>
                    {% endfor %}
                    {% for item in other_items_added %}  <!-- second for loop shows other users items I added -->
                    <tr>
                        <td><a href="/wish_items/{{ item.id }}">{{ item.item }}</a></td>
                        <td>{{ item.poster.username }}</td>
                        <td>{{ item.created_at }}</td>
                        <td><a href="/remove">Delete</a></td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>
        <h2>Other users' wish list</h2>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Added By</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for item in all_items %}
                    <tr>
                        <td>{{ item.poster.username }}</td>
                        <td><a href="/wish_items/{{ item.id }}">{{ item.item }}</a></td>
                        <td>{{ item.created_at }}</td>
                        <td>
                            <form action='/join/{{ item.id }}' method="POST">
                                {% csrf_token %}
                                <input type="submit" class="tbl-button" name="add" value="Add to my wishlist"/>
                            </form>
                        </td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <nav>
        <a class="endbutton" href="/post_item">Add an item</a>
    </nav>
</body>
</html>